node_modules/
.next/
dist/
build/
venv/
.venv/
__pycache__/
uploads/
*.pyc
*.pyo
*.pyd
env/
.env
.env.*
serviceAccountKey.json
/.idea/
.vscode/
frontend/.env.local
frontend/node_modules/
backend/.venv/
backend/.env
backend/serviceAccountKey.json
backend/venv
__pycache__
.next
node_modules